h1 {
	color: #369;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 250%;
}

#mainContent {
	margin-top: 50px;
}

#tblOffers td {
	margin-bottom: 30px;
	padding-top: 20px;
}

#tblOffers tr {
	border-top: 2px solid #777;
}

#tblOffers tr:first-child {
	border-top: none;
}

table label {
	width: 100px;
	color: #999;
}

table {
	color: #EEE;
}

.primary-button {
	background-color: #f89c00 !important;
	color: white !important;
}

.panel-default > .panel-heading {
	font-size: 20px;
	font-weight: bold;
}

.mat-select-wrapper {
	padding-top: 15px;	
}

