<div class="panel panel-default">
	<div class="panel-heading">Open Contracts</div>
	<div class="panel-body">
		<table class="table table-striped" id="tblContracts" >
			<tbody>
				<tr *ngFor="let contract of contracts">
					<td style="padding: 20px">
								<button   md-raised-button
									(click)="navDetails(contract)">Details</button>
					</td>
					<td>
							<div>
								<label>Contract Id:</label> {{contract.contractId}}
							</div>
							<div>
								<label>Buyer Id:</label> {{contract.buyerId}}
							</div>
							<div>
								<label>Seller Id:</label> {{contract.sellerId}}
							</div>
					</td>
					<td>
							<div>
								<label>Start Date:</label> {{contract.startDate| date: 'MM/dd/yyyy'}}
							</div>
							<div>
								<label>Maturity Date:</label> {{contract.maturityDate| date: 'MM/dd/yyyy'}}
							</div>
							<div>
								<label>Coupon Freq:</label> {{contract.couponFreq}}
							</div>
							<div>
								<label>Next Payment:</label> {{contract.nextPaymentDate| date: 'MM/dd/yyyy'}}
							</div>
							<div>
								<label>Prev Payment:</label> {{contract.prevPaymentDate| date: 'MM/dd/yyyy'}}
							</div>
							
					</td>
					<td>
							<div>
								<label>Notional Amt:</label> {{contract.notionalAmount|number: '3.2-4'}}
							</div>
							<div>
								<label>Fixed Rate:</label> {{contract.fixedLegRate|number: '1.2-4'}}
							</div>
							<div>
								<label>Index:</label> {{contract.floatingRateIndex}}
							</div>
							<div>
								<label>Spread:</label> {{contract.spread|number: '1.2-4'}}
							</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
